<h1>Music Market</h1>
<h4>buy, sell or rent your musical instrument!</h4>

<img class="banner"src="http://www.f-covers.com/cover/3dgraphics-musical-instrument-014730-facebook-cover-timeline-banner-for-fb.jpg" alt="music banner" style="width:100%" >

<h4>Musik Market is the right place for:</h4>
<%# COUNTER %>
<p>Join us, we are <strong><%= @total_users %></strong> users, and we have <strong><%= @total_ads %></strong> ads!!!</p>
<br>
<%# CREATE ACCOUNT %>
<p class="btn btn-outline-primary btn-sm">
  <%= link_to "Create an account", new_user_path, :class => "btn" %>
</p>
<br>
<%# SEE ALL USERS %>
<p class="btn btn-outline-warning btn-sm">
  <%= link_to "See all Users", users_path, :class => "btn" %>
</p>
<br>


<div id="middle-row" class="row">

  <div class="col text-center ">
    <%= image_tag("create_buy.jpg", class: "welcome-imgs", alt: "buy image") %>
    <p> Want to change your music instrument? Post an AD </p>
    <div class="btn btn-outline-primary">
      <%= link_to "Create a SALE AD", new_sale_path, :class => "btn" %>
    </div>
  </div>

  <div class="col text-center">
    <%= image_tag("create_rent.jpg", class: "welcome-imgs", alt: "buy image") %>
    <p> Want to rent your equipment? Create your AD </p>
    <div class="btn btn-warning">
      <%= link_to "Create a RENT AD", new_rental_path, :class => "btn" %>
    </div>
  </div>

  <div class="col text-center">
    <%= image_tag("buy.jpg", class: "welcome-imgs", alt: "buy image") %>
    <p> Are you having a GAS attack? We might make you happy </p>
    <div class="btn btn-outline-primary">
      <%= link_to "Buy an instrument", sales_path, :class => "btn" %>
    </div>
  </div>

  <div class="col text-center">
    <%= image_tag("rent.jpg", class: "welcome-imgs", alt: "buy image") %>
    <p> Check if we have what do you need for your gig! </p>
    <div class="btn btn-warning">
      <%= link_to "Hire an instrument", rentals_path, :class => "btn" %>
    </div>
  </div>

</div>


 
  
  