<h1>Edit User Profile</h1>

<%= form_for @user do |f| %>

  <% if flash[:errors] %>
  <%   flash[:errors].each do |message| %>
  <%= message %>
  <% end %>
  <% end %>

  <p>
    <%= f.label :username %> <br/>
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :first_name %> <br/>
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %> <br/>
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :email %> <br/>
    <%= f.text_field :email %>
  </p>

  <div class="btn btn-primary btn-sm btn_spacing">
    <%= f.submit "Edit Profile", :class => "btn" %>
  </div>

  <div class="btn btn-light btn-sm btn_spacing">
    <%= link_to "Back to profile", user_path(@user), :class => "btn" %>
  </div>


<% end %>