<h1>Edit AD</h1>

<%= form_for @rental do |f| %>

  <% if flash[:errors] %>
  <%   flash[:errors].each do |message| %>
  <%= message %>
  <% end %>
  <% end %>

  <p>
    <%= f.label :title %> <br/>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %> <br/>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :photo_url %> <br/>
    <%= f.text_field :photo_url %>
  </p>
  <p>
    <%= f.label :rental_availability %> <br/>
    <%= f.date_field :rental_availability %>
  </p>
  <p>
    <%= f.label :price %> <br/>
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.collection_select :user_ids, User.all, :id, :username %>
  </p>


  <div class="btn btn-primary btn-sm btn_spacing">
    <%= f.submit "SAVE EDITS", :class => "btn" %>
  </div>
  <br>


  <div class="btn btn-light btn-sm btn_spacing">
    <%= link_to "BACK", rental_path(@rental), :class => "btn" %>
  </div>
  <br>


<% end %>

<div class="btn btn-danger btn-sm btn_spacing">
  <%= form_tag rental_path(@rental), method: "delete" do %>
    <%= submit_tag "Delete #{@rental.title}", :class => "btn"%>
  <% end %>
</div>