<h1>Post your AD</h1>
<h3> You are in SALE section </h3>

<%= form_for @sale do |f| %>
  
  <% if @sale.errors.any? %> 
	<h2>Errors:</h2>
	<ul>
		<% @sale.errors.full_messages.each do |message| %>
		<li> <%= message %></li>
	<% end %>
	</ul>
  <% end %>

  <p>
    <%= f.label :title %> <br/>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %> <br/>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :photo_url %> <br/>
    <%= f.text_field :photo_url %>
  </p>
  <p>
    <%= f.label :price %> <br/>
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.collection_select :user_ids, User.all, :id, :username %>
  </p>

  <div class="btn btn-warning btn-sm btn_spacing">
    <%= f.submit "Create AD", :class => "btn" %>
  </div>

<% end %>