<h1><%= @sale.title %></h1>

<h3>Description:</h3>
<p><%= @sale.description %></p>
<h3>Picture:</h3>
<p><%= @sale.photo_url %></p>
<h3>Price:</h3>
<p><%= @sale.price %></p>

<h3>Posted by:</h3>
<p><%= link_to @sale.user.username, user_path %></p>

<div class="btn btn-primary">
  <%= link_to "Edit", edit_sale_path, :class => "btn" %>
</div>

<div class="btn btn-light">
  <%= link_to "Back to listings", sales_path, :class => "btn" %>
</div>