<!DOCTYPE html>
<html>
  <head>
    <title>MusicMarket</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# bootstrap %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%# normalize %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <%# style.css %>
    <link rel="stylesheet" href="./app/assets/stylesheets/styles.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
 
  <body>
  <div>
    <nav id="navbar" class="navbar navbar-dark bg-dark">
      <!-- Navbar content -->
      <%# LOGO SMALL %>
      <%= link_to image_tag("logo.png", id: "logo_small", alt: "buy image"), root_path %>
  
      <form id="login" action="/action_page.php">
        <input type="text" placeholder="Username" name="username">
        <input type="text" placeholder="Password" name="password">
        <button type="submit">Login</button>
      </form>
    </nav>
  </div>

    <div id="body" class="container">

    <% flash.each do |key, value| %>          	
      <p><%= value %>                    
    <% end %>

      <%= yield %>
    
    </div>

    <footer id="footer">
      <p class="footer_message">MusicMarket 2019&copy;</p>
    </footer>
  </body>

</html>
